<div class="horizontal-scroll">
    <div class="form-group select-page-size-wrap ">
        <label>Rows on page
            <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
                    ng-model="vm.limit" ng-options="i for i in [5,10,15,20,25]">
            </select>
        </label>
    </div>
    <!--<table class="table" st-safe-src="vm.smartTableData" st-table="smartTableData">-->
    <table class="table" st-pipe="vm.callServer" st-table="vm.displayed">
        <thead>
        <tr class="sortable">
            <th>Model Definition</th>
            <th>Creation Date</th>
            <th>Dataset</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody 	ng-show="!vm.isLoading">
        <tr ng-repeat="item in vm.displayed">
            <td>{{item.modelDefinition}}</td>
            <td>{{item.creationDate}}</td>
            <td>{{item.datasetUri}}</td>
            <td>{{item.status}}</a></td>
            <td><button class="btn btn-primary btn-xs">Show</button></td>
        </tr>
        </tbody>
        <tbody ng-show="vm.isLoading">
        <tr>
            <td colspan="4" class="text-center">Loading ... </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="6" class="text-center">
                <div st-pagination="" st-items-by-page="vm.limit" st-template="/app/theme/misc/smartTablePagination.html"></div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>