<div class="widgets">

    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="New instance" ba-panel-class="with-scroll">
                <ba-wizard>
                    <!-- Step 1: COPModel -->
                    <ba-wizard-step title="COP Model" form="vm.selectCMForm">
                        <form name="vm.selectCMForm" novalidate>
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- List of COP models -->
                                    <div include-with-scope="app/pages/instances/edit/selectCOPModelTable.html"></div>
                                    <!-- Hidden field for COP Model and feedback message -->
                                    <div class="form-group has-feedback"
                                         ng-class="{'has-error': vm.selectCMForm.copModel.$invalid && (vm.selectCMForm.copModel.$dirty || vm.selectCMForm.$submitted)}">
                                        <input type="hidden" ng-model="vm.instance.copModel" id="copModel"
                                               name="copModel" required/>
                                        <span class="help-block error-block basic-block">You must select a COP Model</span>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="vm.selectedCM">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3>Previewing COP Model {{vm.selectedCM.name}}</h3>
                                        <show-cop-model cop-model-id="vm.selectedCM._id" no-buttons no-panel></show-cop-model>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </ba-wizard-step>

                    <!-- Step 2: Dataset -->
                    <ba-wizard-step title="Dataset" form="vm.datasetForm">
                        <form name="vm.datasetForm" novalidate>
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- List of Datasets -->
                                    <div include-with-scope="app/pages/instances/edit/selectDatasetTable.html"></div>
                                    <!-- Hidden field for Dataset and feedback message -->
                                    <div class="form-group has-feedback"
                                         ng-class="{'has-error': vm.datasetForm.dataset.$invalid && (vm.datasetForm.dataset.$dirty || vm.datasetForm.$submitted)}">
                                        <input type="hidden" ng-model="vm.instance.dataset" id="dataset"
                                               name="dataset" required/>
                                        <span class="help-block error-block basic-block">You must select a Dataset</span>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="vm.selectedDataset">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3>Previewing Dataset {{vm.selectedDataset.name}}</h3>
                                        <show-dataset dataset-id="vm.selectedDataset._id" no-buttons no-panel></show-dataset>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </ba-wizard-step>

                    <!-- Step 3: Data Mapping -->
                    <ba-wizard-step title="Data Mapping" form="vm.dataMappingForm">
                        <form name="vm.dataMappingForm" novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-feedback"
                                         ng-class="{'has-error': vm.dataMappingForm.IN.$invalid && (vm.dataMappingForm.IN.$dirty || vm.dataMappingForm.$submitted)}">
                                        <label for="IN">IN fields</label>
                                        <input type="text" class="form-control" id="IN" name="IN"
                                               placeholder="Input fields" ng-model="vm.instance.in" required>
                                        <span class="help-block error-block basic-block">Required</span>
                                    </div>
                                    <div class="form-group has-feedback"
                                         ng-class="{'has-error': vm.dataMappingForm.OUT.$invalid && (vm.dataMappingForm.OUT.$dirty || vm.dataMappingForm.$submitted)}">
                                        <label for="OUT">OUT fields</label>
                                        <input type="text" class="form-control" id="OUT" name="OUT"
                                               placeholder="Output fields" ng-model="vm.instance.out" required>
                                        <span class="help-block error-block basic-block">Required</span>
                                    </div>
                                    <div class="form-group has-feedback"
                                         ng-class="{'has-error': vm.dataMappingForm.OT.$invalid && (vm.dataMappingForm.OT.$dirty || vm.dataMappingForm.$submitted)}">
                                        <label for="OT">OTHER fields</label>
                                        <input type="text" class="form-control" id="OT" name="OT"
                                               placeholder="Other fields" ng-model="vm.instance.ot" required>
                                        <span class="help-block error-block basic-block">Required</span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </ba-wizard-step>

                    <!-- Step 4: System Configuration -->
                    <ba-wizard-step title="System Configuration">
                        <form class="form-horizontal" name="vm.systemConfigForm" novalidate>
                            <div class="row">
                                <div class="col-md-6">

                                    <!-- Driver cores -->
                                    <div class="form-group has-feedback"
                                         ng-class="{'has-error': vm.systemConfigForm.driverCores.$invalid && (vm.datasetForm.driverCores.$dirty || vm.datasetForm.$submitted)}">
                                        <label for="driverCores">Driver cores</label>
                                        <input type="text" class="form-control" id="driverCores" name="driverCores"
                                               placeholder="Driver cores" ng-model="vm.instance.systemConfig.driverCores">
                                        <span class="help-block error-block basic-block">Driver cores is required</span>
                                    </div>

                                    <!-- Driver memory -->
                                    <div class="form-group has-feedback"
                                         ng-class="{'has-error': vm.systemConfigForm.driverMemory.$invalid && (vm.datasetForm.driverMemory.$dirty || vm.datasetForm.$submitted)}">
                                        <label for="driverMemory">Driver memory</label>
                                        <input type="text" class="form-control" id="driverMemory" name="driverMemory"
                                               placeholder="Driver memory" ng-model="vm.instance.systemConfig.driverMemory">
                                        <span class="help-block error-block basic-block">Driver memory is required</span>
                                    </div>

                                    <!-- Executor cores -->
                                    <div class="form-group has-feedback"
                                         ng-class="{'has-error': vm.systemConfigForm.executorCores.$invalid && (vm.datasetForm.executorCores.$dirty || vm.datasetForm.$submitted)}">
                                        <label for="executorCores">Executor cores</label>
                                        <input type="text" class="form-control" id="executorCores" name="executorCores"
                                               placeholder="Executor cores" ng-model="vm.instance.systemConfig.executorCores">
                                        <span class="help-block error-block basic-block">Executor cores is required</span>
                                    </div>

                                    <!-- Executor memory -->
                                    <div class="form-group has-feedback"
                                         ng-class="{'has-error': vm.systemConfigForm.executorMemory.$invalid && (vm.datasetForm.executorMemory.$dirty || vm.datasetForm.$submitted)}">
                                        <label for="driverMemory">Driver memory</label>
                                        <input type="text" class="form-control" id="executorMemory" name="executorMemory"
                                               placeholder="Executor memory" ng-model="vm.instance.systemConfig.executorMemory">
                                        <span class="help-block error-block basic-block">Executor memory is required</span>
                                    </div>

                                    <!-- Metrics -->
                                    <div class="checkbox">
                                        <label class="custom-checkbox">
                                            <input type="checkbox" ng-model="vm.instance.metrics" ng-true-value="true" ng-false-value="false">
                                            <span>Save metrics information</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <button ng-disabled="vm.systemConfigForm.$invalid"
                                            progress-button="vm.progressFunction()" class="btn btn-primary">Submit
                                    </button>
                                </div>
                            </div>
                        </form>
                    </ba-wizard-step>
                </ba-wizard>
            </div>
        </div>
    </div>

</div>